$purple: #5F0A87;
$pink: #a4508b;
$dark: #555560;
$white: #fff;
$gradient: linear-gradient(326deg, #a4508b 0%, #5f0a87 90%);
$grad_white: linear-gradient(top, rgba(250,250,250,1) 0%, rgba(243,243,243,1) 47%, rgba(232,232,232,1) 100%);
$bg-dark: #292b36;