@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&display=swap&subset=cyrillic'), '_vars.scss', '_normalize.scss';

body {
  position: relative;
  font-family: 'Anonymous Pro', monospace;
  height: 100%;
  background: $grad_white;
  color: $dark;
  &.dark_theme {
    background: $bg-dark;
    color: $white;
    h2, a {
      background-image: unset;
      -webkit-text-fill-color: unset;
      -webkit-background-clip: unset;
      background-clip: unset;
      color: $white;
    }
  }
}
canvas {
  position: absolute;
  top: 0;
  z-index: -10;
  min-height: 100vh;
}
.container {
  max-width: 960px;
  min-height: 100vh;
  padding: 0 20px;
  margin: 0 auto;
}

// animations
.top-info a {
  animation: fadeInDown 1s both;
}
.side-social span {
  animation: animateHeight .6s both;
  animation-delay: 1s;
}
.side-social ul,
.author a {
  animation: fadeIn 1s both;
  animation-delay: 1.6s;
}
.heading,
.heading+p,
.heading+ul,
.experience,
.experience ul {
  animation: fadeInUp .5s both;
}
.top-mail-link {
  animation-delay: 100ms;
}
.top-cv-link {
  animation-delay: 250ms;
}
.h_1 {
  animation-delay: 300ms;
}
.h_1+p {
  animation-delay: 400ms;
}
.h_2 {
  animation-delay: 500ms;
}
.experience {
  animation-delay: 600ms; 
}
.experience ul {
  animation-delay: 700ms; 
}
.h_3 {
  animation-delay: 1200ms;
}
.h_3+p {
  animation-delay: 1300ms;
}
.author a {
  animation-delay: 1000ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0,30px,0);
    opacity: 0;
  }
  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0,-30px,0);
    opacity: 0;
  }
  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes animateHeight {
  from {
    height: 0;
  }
  to {
    height: 95px;
  }
}
// END animations

a:not(.side-link) {
  color: $dark;
  border-bottom: 1px dashed $pink;
  text-decoration: none;
}
a:hover,
h2 {
  font-weight: 700;
  color: $pink !important; 
  background-image: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2, h3, h4 {
  color: $dark;
}
h2 {
  margin: 18px 0;
  font-size: 24px;
}
h3 {
  margin: 14px 0;
}
.subheading {
  margin: 20px 0 12px;
  color: $grey;
}
p, li {
  line-height: 1.5;
  margin: 8px 0;
}

// sidelinks
.side {
  &-social {
    position: relative;
    span {
      position: fixed;
      bottom: 0;
      left: 49px;
      width: 1px;
      background-color: $dark;
    }
    ul {
      position: fixed;
      bottom: 100px;
      left: 40px;
      li {
        margin: 12px 0;
      }
    }
    a {
      display: inline-block;
      transition: .3s all;
      &:hover {
        transform: translate3d(0,-2px,0);
        color: $pink !important;
        i {
          display: inline-block;
          transition: .3s all;
          transform: translate3d(0,-2px,0);
          color: $pink !important;
        }
      }
    }
  }
  &-link {
    color: $dark;
    font-size: 22px;
    &:hover {
      font-weight: normal;
      -webkit-text-fill-color: unset;
    }
  }
  &-mail {
    span {
      left: unset;
      right: 52px;
    }
    ul {
      left: unset;
      right: 40px;
    }
    &-link {
      letter-spacing: 0.1em;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      border: none !important;
    }
  }
}

// top info
.top {
  &-info {
    position: relative;
    padding: 30px 0;
    a {
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 1;
      display: block;
      width: 86px;
      height: 38px;
      text-align: center;
      padding: 10px 16px;
      border: 1px solid $pink;
      border-radius: 4px;
      color: $pink !important;
      font-weight: 700;
      -webkit-text-fill-color: unset;
      transition: .2s ease;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 0;
        height: 100%;
        background-color: $pink;
        background-image: $gradient !important;
        transition: .3s ease;
      }
      &:hover {
        border: 1px solid $purple;
        color: $white !important;
        font-size: 14px;
        padding: 12px 16px;
        &::before {
          width: 100%;
        }
      }
    }
    .top-mail-link {
      position: relative;
      top: 0;
      margin-top: 20px;
      display: inline-block;
      width: 140px;
    }
  }
}
.myname {
  margin-bottom: 15px;
  font-size: 38px;
  font-weight: 700;
  text-shadow: 1px 1px 16px rgba(0, 0, 0, 0.5);
}
.profile {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  span {
    color: #fff;
    padding: 5px;
    &:nth-child(1) {
      background-color: $dark;
      border-radius: 4px 0 0 4px;
      text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
    }
    &:nth-child(2) {
      background-image: $gradient;
      border-radius: 0 4px 4px 0;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    }
  }
}

.experience {
  ul {
    padding-left: 16px;
    li {
      list-style: disc;
      margin: 4px 0;
    }
  }
}

// Bot Projects
.bottom-links {
  display: none;
  .social a {
    margin-right: 8px;
    list-style: none;
  }
}

/* footer */
footer { 
  padding: 40px 0 30px;
  text-align: center;
  a {
    font-size: 13px;
    color: #aaa !important;
    border: none !important;
    font-weight: normal;
    &:hover {
      color: $pink !important;
    }
  }
}

// Media
@media (max-width: 1120px) {
  .side {
    &-social {
      display: none;
    } 
  }
  .bottom-links {
    display: block;
  }
}
@media (max-width: 768px) {
  .works {
    content: '';
    display: table;
    clear: both;
    .first-col,
    .second-col {
      width: 100%;
      margin-left: 0;
      &::before {
        content: '';
        width: unset;
      }
    }
  }
}
@media (max-width: 500px) {
  .top-info {
    .top-cv-link {
      position: relative;
      top: 0;
      margin-left: 20px;
      display: inline-block;
      width: unset;
    }
  }
}